[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
old_passwords=0


server-id        = 
#master-host      =  
#master-user      =  
#master-password  =  
#replicate-do-db  =  
#master-port      =  
relay-log = mysql-relay-bin
log-bin=mysql-bin



[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
port=3306
